<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Hello world!</h1>
    <ul>
      <li>
        <a href="/api/users/all">テストリンク /api/users/all</a>
      </li>
      <li>
        <a href="/api/auth/is_login">テストリンク /api/auth/is_login</a>
      </li>
      <li>
        <a href="/api/auth/logout">テストリンク /api/auth/logout</a>
      </li>
    </ul>

    <form method="post">
      <label>id</label>
      <input type="text" name="id" id="id" />
      <br />
      <label>pw</label>
      <input type="password" name="password" id="password" />
      <input type="button" value="Try Auth" onclick="login()" />
    </form>

    <form method="post">
      <label>ログイン状態確認</label>
      <input type="button" value="Verify Auth" onclick="verify()" />
    </form>

    <script>
      let token = undefined;

      function login() {
        const i = document.getElementById('id');
        const p = document.getElementById('password');
        console.log(i.value, p.value);
        fetch('/api/auth/login', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ id: i.value, password: p.value }),
        }).then((e) => {
          e.json().then((a) => {
            console.log(a);
            token = a.token;
          });
        });
      }

      function verify() {
        console.log('token', token);
        fetch('/api/auth/logout', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
            'x-access-token': token,
          },
        }).then((e) => {
          e.json((a) => {
            console.log(a);
          });
        });
      }
    </script>
  </body>
</html>
